<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  
  <%- contents %>

  <footer class="footer">
    <div class="container">
      <div class="title">
        <h2>Contact</h2>
      </div>
      <ul>
        <li><a href="#">Mail <span>:</span> xxxd@hexschool.com</a></li>
        <li><a href="#">Phone Number <span>:</span> 0910123456</a></li>
      </ul>
    </div>
  </footer>






  
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
