@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

img{
    vertical-align: middle;
}

.container{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.title{
    font-size: 64px;
    line-height: 84px;
    font-weight: 500;
    font-style: italic;
}

.banner{
    background: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    height: 956px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 56px;
    border: 1px solid #707070;
    .name{
        margin-bottom: 32px;
        span{
            color: #fff;
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            font-style: italic;
        }
        h1{
            display: block;
            color: #fff;
            font-size: 80px;
            line-height: 106px;
            font-weight: 900;
            font-style: italic;
        }
    }
    p{
        color: #fff;
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        font-style: italic;
        margin-bottom: 40px;
    }
    .link{
        display: flex;
        li{
            margin-right: 16px;
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
}



.intro{
    margin-bottom: 56px;
    .title{
        margin-bottom: 40px;
    }
    img{
        margin-bottom: 20px;
    }
    ul{
        
        li{
            p{
                font-size: 24px;
                font-weight: 700;
                font-style: italic;
                line-height: 42px;
            }
            &:nth-child(1){
                margin-bottom: 4px;
            }
            &:nth-child(2){
                margin-bottom: 8px;
            }
            &:nth-child(3){
                margin-bottom: 24px;
                p{
                    line-height: 36px;
                }
            }
            .exp{
                border-top: 1px solid #000;
                width: 384px;
                margin: 0 auto;
                padding-top: 28px;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 28px;
                    .circle{
                        width: 22px;
                        height: 22px;
                        background: #891818;
                        border-radius: 50%;
                        margin-right: 16px;
                    }
                    &:nth-child(3){
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}


.brand{
    background: #000;
    padding-top: 56px;
    color: #fff;
    padding-bottom: 160px;
    .title{
        h2{
            margin-bottom: 12px;
        }
        span{
            font-size: 24px;
            line-height: 42px;
        }
    }
    p{
        font-size: 20px;
        line-height: 30px;
        font-family: Microsoft JhengHei;
        margin-bottom: 68px;
        span{
            font-family: 'Roboto', sans-serif;
            font-style: italic;
        }
    }
    .image{
        li{
            &:nth-child(1){
                margin-bottom: 40px;
            }
            &:nth-child(2){
                display: flex;
                justify-content: space-between;
            }
        }
    }  
}


.works{
    padding-top: 56px;
    margin-bottom: 144px;
    .title{
        margin-bottom: 16px;
    }
    p{
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        font-family: Microsoft JhengHei;
        margin-bottom: 56px;
        span{
            font-style: italic;
        }
    }
    ul{
        li{
            display: flex;
            justify-content: space-between;
            margin-bottom: 48px;
            cursor: pointer;
            &:nth-child(1){
                .image{
                    height: 528px;
                }                
            }
            &:nth-child(2){
                .image{
                    height: 424px;    
                }                
            }
            &:nth-child(3){
                .image{
                    height: 280px;    
                }                
            }
            .image{
                overflow: hidden;
                img{
                    margin-bottom: 16px;
                    transition: .3s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
            
            h3{
                font-size: 20px;
                line-height: 42px;
                font-weight: 700;
                span{
                    font-style: italic;
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}


.footer{
    background: #000;
    color: #fff;
    padding-top: 64px;
    padding-bottom: 64px;
    .title{
        margin-bottom: 16px;
    }
    li{
        margin-bottom: 16px;
        a{
            color: #fff;
            font-style: italic;
            font-size: 24px;
            line-height: 36px;
            span{
                font-style: normal;
            }
            &:hover{
                text-decoration: underline;
            }
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}